<div align="center" class="center">
  <ul class="nav nav-pills nav-stacked">
  <h1> Bienvenido <%= session[:username] %>!</h1>
  <% if is_admin %>
    <li role="presentation" ><a href="/matchdays">Administrar fechas</a></li>
    <li role="presentation" ><a href="/restart">Reiniciar Prode</a></li>
  <% else %>
    <li role="presentation" ><a href="/game/play">Jugar</a></li>
    <li role="presentation" ><a href="/game/history">Historial</a></li>
    <li role="presentation" ><a href="/game/ranking">Ranking</a></li>
    <li role="presentation" ><a href="/auth/facebook">Vincular cuenta de Facebook</a></li>
  <% end %>
    <li role="presentation" ><a href="/logout">Salir</a></li>
  </ul>
</div>
