<div align="center" class="center">	

<form class="form-signin" action="/login" method="post">
    <h2 class="form-signin-heading">Por favor ingresar</h2>
    <label for="inputUsername" class="sr-only">Nombre de usuario</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
</form>
	<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ><a href="/auth/facebook">Ingresar con Facebook</a></li>
  	<li role="presentation" ><a href="/">Volver</a></li>
	</ul>
</div>