<div align="center" class="center">	

<form class="form-signin" action="/login" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
	<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ><a href="/auth/facebook">Login with facebook</a></li>
  	<li role="presentation" ><a href="/">Back</a></li>
	</ul>
</div>