<div class="page-header">
  <%= link_to home_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t('views.register.title') %></h1>
</div>
<div align="center" class="center">

<%= render 'main/form' %>
</div>