<div align="center" class="center">
	<div class="page-header">
	<h1><%= t('views.welcome.title') %></h1>
	</div>
  	<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ><a href="/login"><%= t('views.welcome.login') %></a></li>
  	<li role="presentation" ><a href="/register_form"><%= t('views.welcome.register') %></a></li>
	</ul>
</div>
