<div align="center" class="center">
	<div class="page-header">
	<h1>Bienvenido!</h1>
	</div>
  	<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ><a href="/login">Entrar</a></li>
  	<li role="presentation" ><a href="/register_form">Registrarse</a></li>
	</ul>
</div>
