<div align="center" class="center">
  <h1> Welcome to Prode 2015!</h1>
	<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
	<% end %>
  	<%= link_to 'Login', controller: "main", action: "login_form" %></br>
  	<%= link_to 'Register', controller: "main", action: "register" %>
</div>
