<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.username %></h1>
    <p>
      Hay una nueva fecha del prode en la que podes participar!</p>
     <p> Mucha suerte en tu pronostico!</p>

     <p> El equipo de Prode.</p>
    
  </body>
</html>