<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.username %></h1>
    <p>
      There is a new prode matchday for you to guess!</p>
     <p> Good luck!</p>

     <p> Cheers, Prode team.</p>
    
  </body>
</html>