<div class="page-header">
  <%= link_to :back, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h1>Agregar resultado</h1>
</div>
<div align="center" class="center">

<%= render 'updateform' %>

</div>
