<div class="page-header">
  <%= link_to :back, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t('views.match.add_result') %></h1>
</div>
<div align="center" class="center">

<%= render 'updateform' %>

</div>
