<div class="page-header">
  <%= link_to @matchday, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t('views.match.new') %></h1>
</div>
<div align="center" class="center">

<%= render 'form' %>
</div>